pre{
	text-align: center!important;
	font-size: 1em!important;
	color: #fff;
}

span.code{
	color: #22ddf9;
}

span.string{
	color: #f1f922;
}

span.sinal{
	color: #EE1107;
}

span.int{
	color: #553699;
}

span.green{
	color: #37EF14;
}

pre.var{
	background-color: #686868;	
}

img{
	border: none!important;
	background: none!important;
	box-shadow: none!important;
}

img.logo{
	max-width: 300px;
}

img.code{
	max-width: 500px;
}

img.mao{
	width: 700px;
}

span.blockcode{
	text-align: left!important;
	height: 100%!important;
	font-size: 30px;	
	display: flex;
	max-width: 60%;
	margin: auto;
}

.left{
	text-align: left;
}


section.content-top{
	top: 61.5px!important;
}

a.animated{
	animation-duration: 3s;
	color: #F9F8A4;
}

section.animated{
	animation-duration: 5s;
}
  	